# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [69]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"
# Read School and Student Data File and store into Pandas Data Frames
school_df = pd.read_csv(school_data_to_load)
student_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data = pd.merge(student_df, school_df, on="school_name")
school_data.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [7]:
school_data.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [70]:
total_schools = len(school_data["school_name"].unique())
total_students = len(school_data["Student ID"].unique())
total_budget = sum(school_data["budget"].unique())
avg_math = round(school_data["math_score"].mean(),2)
avg_read = round(school_data["reading_score"].mean(),2)
overall_passing = (avg_math + avg_read) / 2
passing_math_count = sum(school_data["math_score"] >= 70)
passing_math_perc = round((passing_math_count / total_students)*100,2)
passing_read_count = sum(school_data["reading_score"] >= 70)
passing_read_perc = round((passing_read_count / total_students)*100,2)
district_sum_table = pd.DataFrame({"Total Schools": [total_schools], 
                                      "Total Students": [total_students],
                                      "Total Budget": [total_budget],
                                      "Average Math Score": [avg_math],
                                      "Average Reading Score": [avg_read],
                                      "Passing Math %": [passing_math_perc],
                                      "Passing Reading %": [passing_read_perc],
                                      "Overall Passing Rate %": [overall_passing]})
district_sum_table.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math %,Passing Reading %,Overall Passing Rate %
0,15,39170,24649428,78.99,81.88,74.98,85.81,80.435

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [71]:
school_summary = school_data.groupby(['school_name'])
school_name = school_summary["school_name"].unique()
school_type = school_summary["type"].unique()
school_pop = school_summary["Student ID"].count()
school_budget = school_summary["budget"].unique()
per_student_budget = school_budget / school_pop
school_avg_math = round(school_summary["math_score"].mean(),2)
school_avg_read = round(school_summary["reading_score"].mean(),2)
pass_math_score = school_data[(school_data["math_score"]>70)]
pass_math_school = pass_math_score.groupby(["school_name"]).count()["student_name"]
pass_math_perc = round((pass_math_school/school_pop)*100,2)
pass_read_score = school_data[(school_data["reading_score"]>70)]
pass_read_school = pass_read_score.groupby(["school_name"]).count()["student_name"]
pass_read_perc = round((pass_read_school/school_pop)*100,2)
sch_overall_passing = (pass_read_perc + pass_math_perc) / 2 
school_summary_table = pd.DataFrame({"School Name": school_name,
                                     "School Type": school_type,
                                     "Total Students": school_pop,
                                     "Total School Budget": school_budget,
                                     "Per Student Budget": per_student_budget,
                                     "Average Math Score": school_avg_math,
                                     "Average Reading Score": school_avg_read,
                                     "Passing Math %": pass_math_perc,
                                     "Passing Reading %": pass_read_perc,
                                     "Overall Passing Rate": sch_overall_passing
                                    })
school_summary_table.head(15)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math %,Passing Reading %,Overall Passing Rate
school_name,,,,,,,,,,
Bailey High School,[Bailey High School],[District],4976,[3124928],[628.0],77.05,81.03,64.63,79.30,71.965
Cabrera High School,[Cabrera High School],[Charter],1858,[1081356],[582.0],83.06,83.98,89.56,93.86,91.710
Figueroa High School,[Figueroa High School],[District],2949,[1884411],[639.0],76.71,81.16,63.75,78.43,71.090
Ford High School,[Ford High School],[District],2739,[1763916],[644.0],77.10,80.75,65.75,77.51,71.630
Griffin High School,[Griffin High School],[Charter],1468,[917500],[625.0],83.35,83.82,89.71,93.39,91.550
Hernandez High School,[Hernandez High School],[District],4635,[3022020],[652.0],77.29,80.93,64.75,78.19,71.470
Holden High School,[Holden High School],[Charter],427,[248087],[581.0],83.80,83.81,90.63,92.74,91.685
Huang High School,[Huang High School],[District],2917,[1910635],[655.0],76.63,81.18,63.32,78.81,71.065
Johnson High School,[Johnson High School],[District],4761,[3094650],[650.0],77.07,80.97,63.85,78.28,71.065
Pena High School,[Pena High School],[Charter],962,[585858],[609.0],83.84,84.04,91.68,92.20,91.940
Rodriguez High School,[Rodriguez High School],[District],3999,[2547363],[637.0],76.84,80.74,64.07,77.74,70.905
Shelton High School,[Shelton High School],[Charter],1761,[1056600],[600.0],83.36,83.73,89.89,92.62,91.255
Thomas High School,[Thomas High School],[Charter],1635,[1043130],[638.0],83.42,83.85,90.21,92.91,91.560
Wilson High School,[Wilson High School],[Charter],2283,[1319574],[578.0],83.27,83.99,90.93,93.25,92.090
Wright High School,[Wright High School],[Charter],1800,[1049400],[583.0],83.68,83.96,90.28,93.44,91.860

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [45]:
top_performers = school_summary_table.sort_values("Overall Passing Rate", ascending=False)
top_performers.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math %,Passing Reading %,Overall Passing Rate
school_name,,,,,,,,,,
Wilson High School,[Wilson High School],[Charter],2283,[1319574],[578.0],83.27,83.99,90.93,93.25,92.090
Pena High School,[Pena High School],[Charter],962,[585858],[609.0],83.84,84.04,91.68,92.20,91.940
Wright High School,[Wright High School],[Charter],1800,[1049400],[583.0],83.68,83.96,90.28,93.44,91.860
Cabrera High School,[Cabrera High School],[Charter],1858,[1081356],[582.0],83.06,83.98,89.56,93.86,91.710
Holden High School,[Holden High School],[Charter],427,[248087],[581.0],83.80,83.81,90.63,92.74,91.685

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [46]:
bottom_performers = school_summary_table.sort_values("Overall Passing Rate", ascending=True)
bottom_performers.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math %,Passing Reading %,Overall Passing Rate
school_name,,,,,,,,,,
Rodriguez High School,[Rodriguez High School],[District],3999,[2547363],[637.0],76.84,80.74,64.07,77.74,70.905
Huang High School,[Huang High School],[District],2917,[1910635],[655.0],76.63,81.18,63.32,78.81,71.065
Johnson High School,[Johnson High School],[District],4761,[3094650],[650.0],77.07,80.97,63.85,78.28,71.065
Figueroa High School,[Figueroa High School],[District],2949,[1884411],[639.0],76.71,81.16,63.75,78.43,71.090
Hernandez High School,[Hernandez High School],[District],4635,[3022020],[652.0],77.29,80.93,64.75,78.19,71.470

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [47]:
grade_nine = student_df.loc[student_df['grade'] == '9th'].groupby('school_name')["math_score"].mean()
grade_ten = student_df.loc[student_df['grade'] == '10th'].groupby('school_name')["math_score"].mean()
grade_eleven = student_df.loc[student_df['grade'] == '11th'].groupby('school_name')["math_score"].mean()
grade_twelve = student_df.loc[student_df['grade'] == '12th'].groupby('school_name')["math_score"].mean()
math_by_grade = pd.DataFrame({"9th Grade": grade_nine,
                              "10th Grade": grade_ten,
                              "11th Grade": grade_eleven,
                              "12th Grade": grade_twelve})

math_by_grade.head(10)

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [48]:
grade_nine_read = student_df.loc[student_df['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
grade_ten_read = student_df.loc[student_df['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
grade_eleven_read = student_df.loc[student_df['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
grade_twelve_read = student_df.loc[student_df['grade'] == '12th'].groupby('school_name')["reading_score"].mean()
read_by_grade = pd.DataFrame({"9th Grade": grade_nine_read,
                              "10th Grade": grade_ten_read,
                              "11th Grade": grade_eleven_read,
                              "12th Grade": grade_twelve_read})

read_by_grade.head(10)

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [49]:
# Create Bins
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

school_summary_table["Scores by Spend"] = pd.cut(per_student_budget,bins = spending_bins,labels = group_names)

In [54]:
school_math_by_spend = round(school_summary_table.groupby(["Scores by Spend"]).mean()["Average Math Score"],2)
school_reading_by_spend = round(school_summary_table.groupby(["Scores by Spend"]).mean()["Average Reading Score"],2)
school_pass_math_spend = round(school_summary_table.groupby(["Scores by Spend"]).mean()["Passing Math %"],2)
school_pass_reading_spend = round(school_summary_table.groupby(["Scores by Spend"]).mean()["Passing Reading %"],2)
overall_pass_rate_spend = (school_pass_math_spend + school_pass_reading_spend)/2
scores_by_spend = pd.DataFrame({"Average Math Score by Spending":school_math_by_spend,
                                     "Average Reading Score by Spend)":school_reading_by_spend,
                                     "% Passing Math by Spend":school_pass_math_spend,
                                     "% Passing Reading by Spend":school_pass_reading_spend,
                                     "Overall Passing rate by Spend":overall_pass_rate_spend})
scores_by_spend.head()

,Average Math Score by Spending,Average Reading Score by Spend),% Passing Math by Spend,% Passing Reading by Spend,Overall Passing rate by Spend
Scores by Spend,,,,,
<$585,83.45,83.94,90.35,93.32,91.835
$585-615,83.60,83.88,90.78,92.41,91.595
$615-645,79.08,81.89,73.02,83.21,78.115
$645-675,77.00,81.03,63.97,78.43,71.200

## Scores by School Size

* Perform the same operations as above, based on school size.

In [51]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
size_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
school_summary_table["Scores by Size"] = pd.cut(school_pop,bins = size_bins,labels = size_names)

In [63]:
school_math_by_size = round(school_summary_table.groupby(["Scores by Size"]).mean()["Average Math Score"],2)
school_reading_by_size = round(school_summary_table.groupby(["Scores by Size"]).mean()["Average Reading Score"],2)
school_pass_math_size = round(school_summary_table.groupby(["Scores by Size"]).mean()["Passing Math %"],2)
school_pass_reading_size = round(school_summary_table.groupby(["Scores by Size"]).mean()["Passing Reading %"],2)
overall_pass_rate_size = (school_pass_math_size + school_pass_reading_size)/2
scores_by_size = pd.DataFrame({"Average Math Score by Size":school_math_by_size,
                                     "Average Reading Score by Size":school_reading_by_size,
                                     "% Passing Math by Size":school_pass_math_size,
                                     "% Passing Reading by Size":school_pass_reading_size,
                                     "Overall Passing rate by Size":overall_pass_rate_size})
scores_by_size.head()

,Average Math Score by Size,Average Reading Score by Size,% Passing Math by Size,% Passing Reading by Size,Overall Passing rate by Size
Scores by Size,,,,,
Small (<1000),83.82,83.93,91.16,92.47,91.815
Medium (1000-2000),83.37,83.87,89.93,93.24,91.585
Large (2000-5000),77.74,81.34,67.63,80.19,73.910

## Scores by School Type

* Perform the same operations as above, based on school type.

In [67]:
#school_math_by_type = school_summary_table.groupby(["School Type"]).mean()["Average Math Score"]
#school_reading_by_type = round(school_summary_table.groupby(["School Type"]).mean()["Average Reading Score"],2)
#school_pass_math_type = round(school_summary_table.groupby(["School Type"]).mean()["Passing Math %"],2)
#school_pass_reading_type = round(school_summary_table.groupby(["School Type"]).mean()["Passing Reading %"],2)
#overall_pass_rate_type = (school_pass_math_type + school_pass_reading_type)/2
#scores_by_type = pd.DataFrame({"Average Math Score by Type":school_math_by_type})
                                     #"Average Reading Score by Type":school_reading_by_type,
                                     #"% Passing Math by Type":school_pass_math_type,
                                     #"% Passing Reading by Type":school_pass_reading_type,
                                     #"Overall Passing rate by Type":overall_pass_rate_type})
#scores_by_type = scores_by_type[["Average Math Score by Type","Average Reading Score by Type",
 #                                       "% Passing Math by Type","% Passing Reading by Type","Overall Passing rate by Type"]]
#scores_by_type

TypeError: unhashable type: 'numpy.ndarray'